{% extends "site_blog/base.html" %}

{% block content %}
    <h1 class="title-about">Blog - information technology</h1>
    <article class="media content-section">
        <p class="article-content">Blog-IT - это русскоязычный веб-сайт представляющий собой блог с элементами новостного сайта, созданный для публикации новостей, облачных технологиях аналитических статей, мыслей, связанных с информационными технологиями, бизнесом и интернетом.

            Контент сайта формируется пользователями-добровольцами, которые пишут различные статьи, публикуют подкасты, переводят иностранные статьи, и общаются с другими пользователями.
        </p>
    </article>
{% endblock content %}