{% extends 'site_blog/base.html' %}
{% load static %}

{% block title %} {{title}} {% endblock %}

{% block content %}
    <article class="media content-section">
        <img class="rounded-circle article-img" src="
            {% if object.author.image %}
                {{ object.author.image.url }}
            {% else %}
                {% static 'image/users/default.jpg' %}
            {% endif %}">
        <div class="media-body">
            <div class="article-metadata">
                <a class="mr-2" href="{% url 'index:user-posts' object.author.username %}">{{ object.author }}</a>
                <small class="text-muted">{{ object.date_posted|date:"F d, Y" }}</small>

                {% if object.author == user %}
                <div>
                    <a class="btn btn-secondary btn-sm mt-1 mb-1" href="{% url 'index:post-update' object.id %}">Редактировать</a>
                    <a class="btn btn-danger btn-sm mt-1 mb-1" href="{% url 'index:post-delete' object.id %}">Удалить</a>
                </div>
                {% elif user.is_superuser %}
                <div>
                    <a class="btn btn-danger btn-sm mt-1 mb-1" href="{% url 'index:post-delete' object.id %}">Удалить</a>
                </div>
                {% endif %}

            </div>
            <h2 class="article-title">{{ object.title }}</h2>
            <p class="article-content">{{ object.content }}</p>
        </div>
    </article>

    <section>
        <div class="container">
            <div class="row">
                <div class="col">
                    <div class="content-wrapper">
                        <div class="card text-dark">

                            <!--блог списка комментарий -->
                            {% if object.comments.all %}
                                <h4 class="title-comments">Комментарии ({{ object.comments.count }})</h4>
                                <hr class="my-0"/>
                                {% for comment in object.comments.all %}
                                    <div class="card-body p-4">
                                        <div class="d-flex flex-start">
                                            <img class="rounded-circle article-img" src="
                                                {% if comment.author_com.image %}
                                                    {{ comment.author_com.image.url }}
                                                {% else %}
                                                    {% static 'image/users/default.jpg' %}
                                                {% endif %}">
                                            <div class="content-comments">
                                                <h6 class="fw-bold mb-1">{{ comment.author_com }}</h6>
                                                <div class="d-flex align-items-center mb-3">
                                                    <small class="text-muted">{{ object.date_posted|date:"F d, Y" }}</small>
                                                </div>
                                                <p class="mb-0">
                                                    {{ comment.content }}
                                                </p>
                                            </div>
                                        </div>
                                    </div>
                                    <hr class="my-0"/>
                                {% endfor %}
                            {% else %}
                                <h4 class="title-comments">Комментарии к записи отсутствуют</h4>
                                <hr class="my-0"/>
                            {% endif %}

                    <!--блог создания комментария -->
                    <form action="{% url 'index:post-detail' object.id %}" method="post">
                        {% csrf_token %}
                        <h4 class="title-comments-add">Добавить комментарий</h4>
                        <div class="bg-light">
                            <div class="d-flex flex-row align-items-start">
                                <img class="rounded-circle article-img" src="{% if user.image %} {{ user.image.url }} {% else %} {% static 'image/users/default.jpg' %} {% endif %}">
                                <div class="comment-content">
                                    {{ comment_form.content }}
                                </div>
                            </div>
                            <div class="text-right">
                                <button class="btn btn-primary btn-sm shadow-none" type="submit">Добавить</button>
                                <button class="btn btn-outline-primary btn-sm ml-1 shadow-none" type="button">Отмена</button>
                            </div>
                        </div>
                    </form>

                    </div>
                </div>
            </div>
        </div>
    </section>

{% endblock content %}