{% extends "site_blog/base.html" %}
{% load static %}

{% block title %} {{title}} {% endblock %}

{% block content %}
  <article class="media content-section">
    <img class="rounded-circle article-img" src="
        {% if post.author.image %}
            {{ post.author.image.url }}
        {% else %}
            {% static 'image/users/default.jpg' %}
        {% endif %}">
    <div class="media-body">
      <div class="article-metadata">
        <a class="mr-2" href="#">{{ object.author }}</a>
        <small class="text-muted">{{ object.date_posted}}</small>



      </div>
      <h2 class="article-title">{{ object.title }}</h2>
      <p class="article-content">{{ object.content }}</p>
    </div>
  </article>
{% endblock content %}